body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#content {
  width: 60%;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  color: #fefefe;
  background-color: #333;
}

#content h1 {
  text-align: center;
  font-weight: 400;
  color: #46d6fd;
}

#signup {
  background-color: #46d6fd;
  padding: 10px;
}

#signup .field {
  display: inline;
}

#signup label {
  display: none;
}

#signup .email {
  height: 30px;
  width: 300px;
  padding: 0px 4px;
  border: 1px solid white;
}

#signup .submit {
  display: inline;
  height: 34px;
  padding: 3px;
  margin: 0;
  border: 1px solid white;
}
